$bgcolor: #000;
$textcolor: #eee;
$modalcolor: #304154;
$depth: 50vh;

body {
	background: $bgcolor;
	margin: 0;
	font-family: system-ui;
	color: $textcolor;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	transform-style: preserve-3d;
	width: 100%;
	perspective: 300px;
	perspective-origin: 20% 10vh;
}

.bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
}

.secciones {
	transform-style: preserve-3d;
	width: 100%;
	transform: translateZ(50vh);
}

main {
	z-index: 1;
	margin: 0 auto;
	width: 100%;
}

section {
	// background-color: rgba($textcolor, 0.2);
	width: 100%;
	height: 100vh;
	//aspect-ratio: 3 / 2;
	display: grid;
	place-items: center;
	font-size: 4rem;
	// outline: 1px dashed red;
}

svg {
	height: 100%;
	width: 100%;
	path {
		fill: none;
		stroke-width: 4px;
	}
}

.flex {
	display: flex;
}

.w50p {
	width: 50%;
}
.w100p {
	width: 100%;
}

article {
	width: 100%;
	min-height: 100vh;
	display: grid;
	place-items: center;
	// outline: 1px dashed blue;

	&:not(:empty) {
		min-height: 50vh;
	}
}
.content {
	background-color: rgba($modalcolor, 0.9);
	padding: 1rem;
	border-radius: 1rem;
	margin: 2rem;
	width: 80%;

	img {
		width: 100%;
	}
}

.about {
	display: flex;
	align-items: center;
	gap: 10px;

	img {
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;
	}
}

.howto {
	display: flex;
	gap: 10px;

	h1 {
		width: 30%;
	}
	.images {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		margin-bottom: 20px;

		& > * {
			width: 100%;
			aspect-ratio: 1;

			&:nth-child(even) {
				transform: translateY(20px);
			}
		}
		img {
			object-fit: cover;
		}
	}
}

.video {
	width: 100%;
	min-width: 100%;
	border-radius: 0;
	aspect-ratio: 3 / 1;
}

.slider {
}

.slider-item {
	display: flex;
	gap: 10px;
}

.acordeon {
}

.pliegue {
	position: relative;
	transform-style: preserve-3d;
}

.horizontal {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin: bottom;
	transform: rotateX(90deg);
}

.far {
	transform: translateZ(-50vh);
}

.close {
	// transform-origin: top;
	// transform: translate3d(0, -50vh, 0);
	// transform-style: preserve-3d;
}

section.mid-section {
	// background-color: rgba($textcolor, 0.3);
	width: 100%;
	height: 50vh;
	display: grid;
	place-items: center;
	font-size: 4rem;
}

section.resto {
	height: 550vh;
}
